body {

    direction: rtl;
    text-align: right;
    background-color: #0bbd17;
    margin: 0;
    padding: 0;
}
header {
    background-color: #01750f;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}
#contact {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(1, 94, 10);
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 10px;
    padding: 10px;
    background: #00560a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #00560a;
}